@use '../helpers' as *;

.hero {
  &__main {
<<<<<<< HEAD
    @include tablet-above {
      display: grid;
      grid-template-columns: 60% auto;
      grid-template-areas:
        'body resources-preview'
        'metrics resources-preview';
    }
=======
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-areas:
      'body resources-preview'
      'metrics resources-preview';
>>>>>>> bc24ba75a202f105ed0aaaa6b2764fb7d39f7960
  }

  &__body {
    grid-area: body;

    padding-top: rem(150);
    padding-right: rem(50);
    padding-bottom: rem(100);
<<<<<<< HEAD

    @include laptop {
      padding-top: rem(100);
      padding-right: rem(40);
    }

    @include tablet {
      padding-right: 0;
      padding-top: rem(40);
      padding-bottom: rem(30);
    }
=======
>>>>>>> bc24ba75a202f105ed0aaaa6b2764fb7d39f7960
  }

  &__subtitle {
    @include fluid-text(30, 18);

    font-family: var(--font-family-accent);
    font-weight: 500;
    color: var(--color-dark-40);

    &:not(:last-child) {
      margin-bottom: rem(30);
<<<<<<< HEAD

      @include mobile {
        margin-bottom: rem(14);
      }
=======
>>>>>>> bc24ba75a202f105ed0aaaa6b2764fb7d39f7960
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(20);
<<<<<<< HEAD

      @include mobile {
        margin-bottom: rem(10);
      }
=======
>>>>>>> bc24ba75a202f105ed0aaaa6b2764fb7d39f7960
    }
  }

  &__metrics {
    grid-area: metrics;

<<<<<<< HEAD
    @include tablet-above {
      border-top: var(--border);
    }

    @include tablet {
      &::before {
        width: 100vw;
        right: calc(var(--container-padding-x) * -1);
      }
    }
=======
    border-top: var(--border);
>>>>>>> bc24ba75a202f105ed0aaaa6b2764fb7d39f7960
  }

  &__resources-preview {
    grid-area: resources-preview;

    padding-left: rem(80);
    padding-bottom: rem(80);
<<<<<<< HEAD

    background: url(../../images/resources-preview/bg.png) 0 0 / cover no-repeat;

    @include laptop {
      padding-left: rem(50);
      padding-bottom: rem(50);
    }

    @include tablet-above {
      border-left: var(--border);
    }

    @include tablet {
      width: 100vw;
      margin-left: calc(var(--container-padding-x) * -1);
      padding: rem(100) rem(40) rem(40);
      background-image: url(../../images/resources-preview/bg_tablet.png);
      background-size: contain;
    }
=======
    border-left: var(--border);

    background: url(../../images/resources-preview/bg.png) 0 0 / cover no-repeat;
>>>>>>> bc24ba75a202f105ed0aaaa6b2764fb7d39f7960
  }

  &__advantages {
    border-block: var(--border);
<<<<<<< HEAD

    &-list {
      @include tablet-above {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
=======
    
    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
>>>>>>> bc24ba75a202f105ed0aaaa6b2764fb7d39f7960
    }

    &-item {
      --padingX: #{rem(80)};

      padding-block: rem(50);

<<<<<<< HEAD
      @include laptop {
        --padingX: #{rem(50)};

        padding-block: rem(40);
      }

      @include tablet-above {
        &:not(:first-child) {
          padding-left: var(--padingX);
        }

        &:not(:last-child) {
          padding-right: var(--padingX);
          border-right: var(--border);
        }
      }

      @include tablet {
        padding-block: rem(30);

        &:not(:last-child) {
          border-bottom: var(--border);
        }
=======
      &:not(:first-child) {
        padding-left: var(--padingX);
      }

      &:not(:last-child) {
        padding-right: var(--padingX);
        border-right: var(--border);
>>>>>>> bc24ba75a202f105ed0aaaa6b2764fb7d39f7960
      }
    }
  }
}
