@use '../helpers' as *;

.metrics {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    display: flex;
    flex-direction: column-reverse;
    row-gap: rem(10);
    padding: rem(50);

<<<<<<< HEAD
    @include laptop {
      row-gap: rem(2);
      padding: rem(30) rem(40);
    }

    @include tablet {
      row-gap: 0;
      padding: rem(20);
    }

=======
>>>>>>> bc24ba75a202f105ed0aaaa6b2764fb7d39f7960
    &:first-child {
      padding-left: 0;
    }

    &:not(:last-child) {
      border-right: var(--border);
    }
  }

<<<<<<< HEAD
  &__key {
    @media (max-width: 455px) {
      padding-right: 27px;
    }
  }

=======
>>>>>>> bc24ba75a202f105ed0aaaa6b2764fb7d39f7960
  &__value {
    font-weight: 600;
  }

  &__sign {
    color: var(--color-accent);
  }
}
