@use '../helpers' as *;

.resources-preview {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: rem(30);

  @include laptop {
    row-gap: rem(20);
  }
=======
  gap: rem(30);
  justify-content: flex-end;
  align-items: flex-start;
>>>>>>> bc24ba75a202f105ed0aaaa6b2764fb7d39f7960

  &__body {
    display: grid;
    row-gap: rem(14);
<<<<<<< HEAD

    @include laptop {
      row-gap: rem(6);
    }
  }

  &__button {
    @include mobile-s {
      width: 100%;
    }
=======
>>>>>>> bc24ba75a202f105ed0aaaa6b2764fb7d39f7960
  }
}
